Practice/practice01/.vs/practice01/CopilotIndices/
Practice/practice01/.vs/practice01/FileContentIndex/
Practice/practice01/practice01/x64/Debug/practice01.tlog/
Practice/practice01/.vs/practice01/v17/
Practice/practice01/practice01/practice01.vcxproj.filters
Practice/practice01/practice01/practice01.vcxproj.user
Practice/practice01/practice01/x64/Debug/
Practice/practice01/x64/Debug/practice01.pdb
*.exe
*.vcxproj
*.sln
Practice/practice01/pointer/x64/
*.tlog
*.filters
*.user
*.log
*.recipe
*.ilk
*.obj
*.txt
*.idb
*.pdb
